body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    width: 65%;
}
/*header*/
header h1{
    font-size: 30px;
    margin: 10px 0 10px 20px;
}
header p{
    font-size: 20px;
    margin: 5px 0 5px 10px;
}
#user-input-container{
    background: rgb(109, 109, 109);
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}
#user-input-container input{
    box-sizing: border-box;
    height: 35px;
    width: 60%;
    font-size: 100%;
}
#user-input-container button{
    height: 35px;
    width: 20%;
    font-size: 100%;
}

/*styl section*/
#vypis{
    padding: 10px 5% 10px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    background: rgb(203, 199, 199);
}

/*styl třídy .planeta*/
.planeta{
    border: 3px solid white;
    width: max-content;
    margin: 5px;
    padding: 5px;
}
.planeta h3{
    margin: 7px 0 7px 0;
    font-weight: bolder;
}
.planeta span{
    font-weight: bold;
}